/* Sakura.css v1.0.0
 * ================
 * Minimal css theme.
 * Project: https://github.com/oxalorg/sakura
 */

/* Body */

html {
    font-family: $font-family-serif;
}

body {
    // $font-size-base must be a rem value
    font-size: $font-size-base;
    color: $color-text;
    background-color: $color-bg;
}

@media (max-width: 684px) {
    body {
        font-size: $font-size-base * 0.85;
    }
}

@media (max-width: 382px) {
    body {
        font-size: $font-size-base * 0.75;
    }
}

h1, h2, h3, h4, h5, h6 {
    font-family: $font-family-sans-serif;
}

hr {
    border-color: $color-blossom;
}

a {
    color: $color-blossom;

    &:hover {
        color: $color-fade;
        border-bottom: 2px solid $color-text;
    }

}
blockquote {
    border-left: 3px solid $color-blossom;
}

/* Pre and Code */

pre {
    background-color: $color-bg-alt;
}

code {
    background-color: $color-bg-alt;
}

/* Tables */

td, th {
    border-bottom: 1px solid $color-bg-alt;
}

/* Buttons, forms and input */

input, textarea {
    border: 1px solid $color-text;

    &:focus {
        border: 1px solid $color-blossom;
    }
}

.button, button, input[type="submit"], input[type="reset"], input[type="button"] {
    background-color: $color-blossom;
    color: $color-bg;
    border: 1px solid $color-blossom;

    &:focus, &:hover {
        background-color: $color-fade;
        border-color: $color-fade;
        color: $color-bg;
    }
}

textarea, select, input[type] {
    color: $color-text;
    background-color: $color-bg-alt;
    border: 1px solid $color-bg-alt;

    &:focus {
        border: 1px solid $color-blossom;
    }
}

input[type="checkbox"]:focus {
    outline: 1px dotted $color-blossom;
}
